* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #3f6392;
    margin-left: 30px;
    font-family: 'Roboto', sans-serif;
    color: #0c0b0b;
    min-height: 100vh;
    display: flex;
  }
  
  #ftCurriculo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 30px;
  }
  
  .intro {
    color: #3f6392;
    font-size: 30px;
    margin-left: 200px;
    margin-top: -90px;
  }
  
  #inicio {
    margin-top: 100px;
    margin-left: 30px;
  }
  
  #container {
    background-color: whitesmoke;
    width: 810px;
    height: 1050px; /*979px;*/
    margin-left: 150px;
    margin-right: 50px;
    margin-top: -10px;
    box-shadow: 0px 0px 5px 0px black;
  }
  
  
  article {
    margin-top: 50px;
    margin-left: 30px;
  }
  
  ul {
    margin-left: 50px;
  }
  
  h3 {
    font-weight: 100;
    color: #262c33;
    margin-bottom: 20px;
    font-size: 30px;
  }
  
  h3:first-letter {
    font-size: 40px;
    color: rgb(233, 233, 86);
  }
  
  p {
    margin-left: 30px;
    text-indent: 25px;
  }
  
  p::selection {
    background-color: rgb(202, 204, 70);
  }
  
  aside {
    background-color: #3f6392;
    position: absolute;
    width: 300px;
    height: 1040px;
    margin-left: 820px;
    margin-top: -1000px;
    box-shadow: 0px 0px 5px 0px black;
  }
  
  #info {
    color: #ffffff;
    position: relative;
    top: 170px;
    left: 45px;
    margin-bottom: 0px;
  }
  
  #list {
    color: #ffffff;
    position: relative;
    top: 260px;
    left: 10px;
    font-size: 23px;
  }
  
  #ling {
    color: #ffffff;
    font-size: 15px;
    margin-left: 30px;
    font-weight: 100;
    list-style: none;
    position: relative;
    top: 300px;
    line-height: 23px;
  }
  
  #otherId {
    color: #ffffff;
    font-size: 15px;
    font-weight: 100;
    list-style: none;
    position: relative;
    top: 190px;
    line-height: 23px;
  }
  
  hr {
    width: 150px;
  }
  
  .tgt {
    position: absolute;
    list-style: none;
    margin-top: 200px;
    margin-bottom: 0px;
    margin-left: 50px;
  }
  
  i {
    color: rgb(233, 233, 86);
    font-size: 20px;
    margin-right: 20px;
  }
  
  a :hover {
    background: whitesmoke;
  }
  
  footer {
    font-weight: bold;
    margin-top: 80%;
    color: whitesmoke;
    margin-left: -500px;
  }